<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>portfolio</title>
  <script src="https://use.fontawesome.com/e40d4a8511.js"></script>
</head>
<body style="font-family: arial; background-color: white;" >
  <div style="width: 100%; height: 300px; background-image: url(http://babalucas.com/wp-content/uploads/babalucas_background_2a.jpg); background-size: contain; color: white;">
    <h1 style="text-align: center; position: absolute;top: 15%; left: 38%; font-size: 40px; display: block;" >Hey, Aliza here!</h1>
    <h2 style="text-align: center; position: absolute; top: 25%; left: 40%; display: block;">
      <a style="text-decoration: none; color: black; font-size: 32px; color: white;" href = "/portfolio"> Projects </a>
      <a href="/portfolio/blogs" target="_click" style="text-decoration: none; color: black; font-size: 32px; color: white;"> | Blog</a>
    </h2>
    <h3 style="position: absolute; top: 45%; left: 42%; font-size: 14px;">scroll down for the projects</h3>
  </div>
  <div style="background-image: url(https://josh2brown.files.wordpress.com/2014/12/portfolio-background.jpg); background-size: cover; height: 800px;">
    <ul style="list-style-type: decimal;text-align: center; list-style-position: inside;">
      <li style="position: absolute; top: 105%;">
        Bulletin Board
        <div>
         <a href="https://github.com/alizaabbas/ttp/tree/master/day12/assignment" target="_blank"> <i style="color: black;" class='fa fa-github fa-4x' aria-hidden="true"></i> </a>
       </div>
       <p style="text-align: center;"><strong>Description :</strong> This project is about storing and retrieving information into and from the database. The user can add the title and text on the database, when they submit the user's title will be displayed on the bulletin board page and by clicking the title on that page the browser will be directed to another page having the message retrieved from the database for that particular title. </p>
     </li>

     <li style="position: absolute; top: 140%;">
      Juke Box
      
      <div>
       <a href="https://github.com/alizaabbas/ttp/tree/master/day7" target="_blank"> <i style="color: black;" class='fa fa-github fa-4x' aria-hidden="true"></i> </a>
     </div>
     <p style="text-align: center;"><strong>Description :</strong> This project is using javascript to add event listeners on juke box object. you can play pause and stop songs of either you choice or the songs listed on the box. Api from spotify is being pulled through json to help the user select the song that they want to listen. </p>
   </li>
 </ul>
</div>

</body>
</html>